.containerAlbum {
    width: 200px; /* Largeur de 100 pixels */
    height: 350px; /* Hauteur de 200 pixels */
    overflow: hidden; /*Pour s'assurer que le contenu ne dépasse pas la taille définie */
    border: 1px solid #6d6d6d; /* Bordure de 1 pixel, style solide, couleur noire */
    margin-right: 10px;
    
}

.containerAlbum .TitreAlbum {
    font-weight: bold; /* Texte en gras */
    padding-left: 5px; /* Ajoute un espace de 5 pixels avant le texte */
}

.containerAlbum .ArtisteAlbum {
    overflow: hidden; /* Pour cacher le texte dépassant du conteneur */
    text-overflow: ellipsis; /* Affiche des points de suspension (...) pour indiquer que le texte est coupé */
    padding-left: 5px; /* Ajoute un espace de 5 pixels avant le texte */
}

/*
.containerAlbum img
{
    width: 200px;  Largeur de 100 pixels 
    height: 200px;  Hauteur de 100 pixels 
}
*/
.mesAlbums 
{
    display: flex;            /* Utilise la disposition flexible (Flexbox) */
    flex-wrap: wrap;          /* Permet aux éléments enfants de passer à la ligne si nécessaire */
    /*justify-content: space-around; /* Aligne les éléments enfants avec un espacement équitable autour d'eux */
    margin-left: 20px;
}